*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body { line-height: 1.5; } 
@font-face{
    font-family: gsl;
    src: url("../asset/font/GSL.otf") format("opentype");
}
@font-face{
    font-family: gsm;
    src: url("../asset/font/GSM.otf") format("opentype");
}
@font-face{
    font-family: gsb;
    src: url("../asset/font/GSB.otf") format("opentype");
}
header{
    height: 2vh;
    transition: 0.5s;
}
.svg-inline--fa {
    display: none;
}
header.header_scroll ul > li > a {
    padding: 0;
} 
nav {
    transition: 0.3s;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: grid;
    padding: 0px 40px;
    grid-template-columns: 10% 10% 80%;
    min-height: 70px; 
} 
#logo { 
    text-indent: 9999px;
    width: 50px;
    background: url(../asset/img/logo.png) no-repeat center/contain;
    grid-column: 1;
    transition: 0.5s;
    opacity: 0;
}
ul {
    visibility: hidden;
    grid-column: 3;
    height: 70px;
    line-height: 70px;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    transition: 0.5s;
    list-style: none;
}
.nav_menus > li:hover{  
    background: #006341; 
}
ul > li > a.show {
    background: #006341;  
}
ul > li > a {
    position: relative;
    display: inline-block;
    width: 140px; 
    text-align: center;
    font-family:'gsm', serif ;
    color: #233630;
}   
.depth2 {
    visibility: hidden;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 70px;
    justify-items: center; 
    right: 0;
    width: 100%; 
    height: 50px;
    line-height: 50px;
    background: #006341;
} 
.depth2.show {
    visibility: visible;
} 
.depth2 > li {
    width: 100%;
    height: auto; 
}
.depth2 > li > a {
    width: 100%;
    height: auto;
    display: inline-block; 
    text-align: center;
} 
.depth3 {  
    visibility: hidden;
    position: absolute; 
    display: block; 
    right: 0;
    flex-direction: column; 
    justify-content: start;
    align-items: flex-start; 
    background: white; 
    width: 200%;    
    height: auto;
}  
.depth2 p > a {
    color: black;
}
@media (max-width: 767px){
    .nav_menus {
        display: none;
    }
    .svg-inline--fa {
        display: block;
        width: 1.375em !important; 
        grid-column: 4;
        height: 70px;
    }
}