@font-face{
    font-family: gsl;
    src: url("../asset/font/GSL.otf") format("opentype");
}
@font-face{
    font-family: gsm;
    src: url("../asset/font/GSM.otf") format("opentype");
}
@font-face{
    font-family: gsb;
    src: url("../asset/font/GSB.otf") format("opentype");
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: grid;
    padding: 10px 40px 10px;
    grid-template-columns: 10% 70%;
    min-height: 10vh;
    background: #f1f1f1;
} 
#logo {
    background: url(../asset/img/logo.png) no-repeat center/contain;
    grid-column: 1; 
}
ul {    
    height: 10vh;
    line-height: 10vh;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
ul li { 

}
*{
    margin: 0;
    padding: 0;
    box-sizing: auto;
    text-decoration: none;
}
body { line-height: 1.5; } 