
/* section1 start */
section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #233630, #223b35);
    z-index: -1;
}
.first_bg{

    margin-top: 8vh;
}
.first_bg,.second_bg {
    background:#bedbd6;
    height: 70%;
    width: 90%;
    position: relative;
}
.first_wrapper { 
    display: grid;     
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
} 
.first_wrapper .main_imgs{ 
    height: 100%;
    background: url(../asset/img/pumpkin.jpg)  no-repeat center/cover;
}
.main_text {   
    letter-spacing: 0.5px;
    padding: 0 20px; 
    overflow: hidden;
}
.main_text span {
    font-family: 'gsb', serif;
    color: #e58c39;
    font-size: 3vh; 
    display:  block;
    transform: translateY(400%); 
}
.main_text span:nth-of-type(1){
    font-size: 6vh;
    color: #c57122;
}
/* section1 end */
/* section2 start */
section:nth-of-type(2){
    height: 100%;
    background: #f2f5f4;
}
.second_bg {
    padding: 40px 0; 
    background: 0;
}
.second_wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background: radial-gradient(circle, rgba(17,36,33,1) 0%, rgba(17,32,29,1) 100%); */
}
.steps_text { 
    position: relative;
    font-family: 'gsm',serif; 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh 0;
    font-size: 20px;
    color: #cbcaca;
    width: 100%; 
    background-image: url(../asset/img/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.steps_text span {
    z-index: 1;
    color: #fcfcfc;
}
.steps_text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    background: radial-gradient(circle, rgba(17,36,33,1) 0%, rgb(0 0 0) 100%);
    opacity: .5;
    width: 100%;
    height: 100%;
}
.steps {
    font-family: 'gsl',serif;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.steps div{ 
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    height: 200px;
}
.steps div p:first-of-type {
    letter-spacing: 1.5px;
    font-family: 'gsm',serif;
    padding: 10px 0;
}
.steps span{ 
    color: #cbcaca;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #006341;
    color: #006341;
    border-radius: 20px;
} 
.splide {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #ececec; 
} 
.splide__list li {
    display: grid;
    height: 200px;  
    padding-top: 10px;
} 
.splide__arrow--prev {
    left: -2.5em;
}
.splide__arrow--next{
    right: -2.5em;
}
.splide__slide span:nth-of-type(2){
    letter-spacing: -1px;
    color: #3c3c3c;
    padding: 0 30px;
    text-align: center; 
    font-size: 14px;
    font-family: 'gsm',serif;
}

.splide__slide span:nth-of-type(1){
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(../asset/img/slideA/slide_welcome.png) no-repeat center/auto;
}
.splide__slide:nth-of-type(2) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_tax.png) no-repeat center/contain;
}
.splide__slide:nth-of-type(3) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_safe.png) no-repeat center/contain;
}
.splide__slide:nth-of-type(4) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_birth.png) no-repeat center/auto;
}
.splide__slide:nth-of-type(5) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_bean.png) no-repeat center/auto;
}
.splide__slide:nth-of-type(6) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_extra.png) no-repeat center/auto;
}
.splide__slide:nth-of-type(7) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_goldcard.png) no-repeat center/contain;
}
.splide__slide:nth-of-type(8) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_free.png) no-repeat center/contain;
}
.splide__slide:nth-of-type(9) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_reserve.png) no-repeat center/auto;
}
.splide__slide:nth-of-type(10) span:nth-of-type(1){ 
    background: url(../asset/img/slideA/slide_auto.png) no-repeat center/contain;
} 
@media (max-width: 767px){  
    .main_text span:nth-of-type(1){
        font-size: 5vh;
    }
    .main_text span{
        font-size: 2.5vh;
    }
    .steps span {
        display: inline-block;
    }
    .splide__slide span:nth-of-type(2){
        font-size: 12px;
    }
    .steps_text{
        padding: 6vh 0;
    }
    .steps{ 
        display: grid;
        padding: 30px 0;
    }
    .steps div {
        display: block;  
        text-align: center;
        padding: 0; 
        height: 130px;
    } 
    .steps div:first-of-type {
        margin-top: 30px;
    }
    .steps div p:last-of-type{
        font-size: 14px;
    }
    .splide__arrow--prev {
        left: -2em;
    }
    .splide__arrow--next {
        right: -2em;
    }
} 
@media (max-width: 500px){  
    .steps_text {
        padding: 6vh 20px;
        font-size: 16px;
    }
    .first_wrapper { 
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr); 
    }
    .splide__arrow--prev {
        left: 1em;
    }
    .splide__arrow--next {
        right: 1em;
    }
}
