 
    <nav id="nav">
      <h1 id="logo"><a href="index.html">starbucks</a></h1>
      <span>Starbucks</span>
      <svg
        class="burger"
        version="1.1"
        id="Layer_1"
        viewBox="0 0 100 100"
        xml:space="preserve"
      >
        <line
          class="line_first"
          x1="25"
          y1="42"
          x2="75"
          y2="42"
          stroke-width="4"
          fill="none"
          stroke="#000"
        />
        <line
          class="line_second"
          x1="25"
          y1="50"
          x2="75"
          y2="50"
          stroke-width="4"
          fill="none"
          stroke="#000"
        />
        <line
          class="line_third"
          x1="25"
          y1="58"
          x2="75"
          y2="58"
          stroke-width="4"
          fill="none"
          stroke="#000"
        />
      </svg>
      <ul class="nav_menus">
        <li class="depth1">
          <a href="#">MENU</a>
          <ol class="depth2">
            <li>
              <a href="#">Drink</a>
              <ul class="depth3">
                <li>
                  <a href="" data-bg="/asset/img/menu_coldbrew.jpg"
                    >콜드브루</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_brewd.jpg"
                    >브루드 커피</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_espresso.jpg"
                    >에스프레소</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_praf.jpg">프라푸치노</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_blend.jpg">블렌디드</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_fizzi.jpg"
                    >스타벅스 피지오</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_tea.jpg">티(티바나)</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_etc.jpg"
                    >기타 제조 음료</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bottle.jpg"
                    >스타벅스 병음료</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Food</a>
              <ul class="depth3">
                <li>
                  <a href="" data-bg="/asset/img/menu_bread.jpg">브레드</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_cake.jpg">케이크</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_sand.jpg">샌드위치</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_salad.jpg">샐러드</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_warm.jpg"
                    >따뜻한 푸드</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_fruit.jpg"
                    >과일 & 요거트</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_snack.jpg">스낵</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_mini.jpg"
                    >미니 디저트</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_icecream.jpg"
                    >아이스크림</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Home Coffee</a>
              <ul class="depth3">
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png">원두</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_via.png">비아 스틱</a>
                </li>
                <li><a href="">Verismo® Pods</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Drink Ware</a>
              <ul class="depth3">
                <li>
                  <a href="" data-bg="/asset/img/menu_mug.jpg">머그 컵</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_glass.jpg">유리 컵</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png"
                    >플라스틱 컵</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png"
                    >스테인리스 컵</a
                  >
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png">보온병</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png">액세서리</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png">커피 용품</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png">티(티바나)</a>
                </li>
                <li>
                  <a href="" data-bg="/asset/img/menu_bean.png"
                    >스타벅스 플래너</a
                  >
                </li>
              </ul>
            </li>
            <a class="gnb_img"></a>
          </ol>
        </li>
        <li class="depth1">
          <a href="#">REWARDS</a>
          <ol class="depth2">
            <li>
              <a href="#">리워드 알아보기</a>
              <ul class="depth3">
                <li><a href="">리워드 소개</a></li>
                <li><a href="">등급 및 혜택</a></li>
                <li><a href="">별 적립</a></li>
                <li><a href="">자주하는 질문</a></li>
              </ul>
            </li>
          </ol>
        </li>
        <li class="depth1"><a href="/login.html">Log in</a></li>
        <li class="depth1"><a href="/adduser.html">Sign in</a></li>
      </ul> 
    </nav> 